<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>trrnts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header class="pure-g">
      <div class="pure-u-1-3">
        <small><a href="#latest" class="latest-link">Latest submissions</a></small>
        &Iota;
        <small><a href="#stats" class="stats-link">Stats</a></small>
      </div>
      <div class="pure-u-1-3">
        <a href="/" class="logo">trrnts</a>
      </div>
      <div class="pure-u-1-3">
        <small><a href="#submit" class="submit">Submit a magnet</a></small>
      </div>
    </header>
    <section id="top" class="pure-g">
      {{#top}}
        <article class="pure-u-1 pure-u-md-1-2">
          <h4><a href="{{mu}}">{{n}}</a></h4>
          <aside><span data-ca="{{ca}}"></span> — <strong>{{ps}}</strong></aside>
          <canvas data-type="line" data-data="{{psPast.data}}" data-labels="{{psPast.labels}}"></canvas>
        </article>
      {{/top}}
    </section>
    <section class="pure-g" id="more-magnets">
      <section id="latest" class="pure-u-1 pure-u-md-3-4">
        <h4>Latest</h4>
        {{#latest}}
          <article class="pure-g">
            <span class="pure-u-1-5 score">{{ps}}</span>
            <a class="pure-u-4-5" href="{{mu}}">{{n}} <div class="score">— <span data-ca="{{ca}}"></span></div></a>
          </article>
        {{/latest}}
      </section>
      <section id="upcoming" class="pure-u-1 pure-u-md-1-4">

      </section>
    </section>
    <section id="stats" class="pure-g">
      <div class="pure-u-1 pure-u-md-1-4">
        <h5>Absolute number of indexed edges</h5>
        <h1>{{stats.edges.count}}</h1>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <h5>Number of cities using BitTorrent</h5>
        <h1>{{stats.cities.count}}</h1>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <canvas data-type="doughnut" data-values="{{stats.cities.values}}" data-labels="{{stats.cities.labels}}"></canvas>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <h5>Number of regions using BitTorrent</h5>
        <h1>{{stats.regions.count}}</h1>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <canvas data-type="doughnut" data-values="{{stats.regions.values}}" data-labels="{{stats.regions.labels}}"></canvas>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <h5>Number of countries using BitTorrent</h5>
        <h1>{{stats.countries.count}}</h1>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <canvas data-type="doughnut" data-values="{{stats.countries.values}}" data-labels="{{stats.countries.labels}}"></canvas>
      </div>
      <div class="pure-u-1">
        <div data-type="map" data-data="{{stats.lls}}" id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </section>
    <section id="status">
      <h4>Peers added (per 50 ms)</h4>
      <canvas data-type="line" data-labels="{{stats.peers.labels}}" data-data="{{stats.peers.data}}"></canvas>
    </section>
    <footer class="pure-g">
      <form method="post" action="submit" id="submit" class="pure-u-1 pure-u-md-1-2">
        <h5>Feel like infringing someone's copyright? <small>- Submit a Magnet Link!</small></h5>
        <input type="text" name="magnet-uri" placeholder="Magnet URI" required><input type="submit" value="Submit!">
      </form>
      <aside class="pure-u-1 pure-u-md-1-2">
        <p>
          Welcome to <strong>trrnts</strong>. The aim of this website is to
          provide a reasonable alternative to <em>The Pirate Bay</em>, without
          annoying porn ads and a better and more consistent implementation of
          the BitTorrent DHT protocol in order to rank torrents. This site is
          heavily <a href="https://github.com/alexanderGugel/trrnts">WIP</a>.
          Contributions are very welcome.
        </p>
      </aside>
      <nav class="pure-u-1">
        <a href="/faq">FAQ</a>
        <a href="/dmca">DMCA Notices</a>
        <a href="/about">About</a>
      </nav>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/datamaps/dist/datamaps.world.min.js"></script>
    <script src="bower_components/chartjs/Chart.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
